.search-form {
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
}

.search-form input {
    padding: 1rem;
    border-radius: 0.5rem;
    flex: 9;
}

.search-form select {
    padding: 1rem;
    border-radius: 0.5rem;
    flex: 3;
} 